* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  font-style: normal;
  list-style-type: none;
}
/*img'ler*/
.logo-svg {
  width: 16px;
  height: 16px;
}
.text-svg {
  width: 146px;
  height: 12px;
}
.hero-img1 {
  background-image: url("../img/image1mobil.jpg");
  width: 375px;
  height: 372px;
}
.hero-img2 {
  background: transparent;
  background-image: url(../img/image2mobil.jpg);
  width: 335px;
  height: 452px;
  border-radius: 31px;
  overflow: hidden;
}
.product-img {
  width: 280px;
  height: 240px;
}
.eggplant {
  background-image: url(../img/eggplant_mobile.jpg);
}
.leek {
  background-image: url(../img/leek_mobile.jpg);
}
.mushroom {
  background-image: url(../img/mushroom_mobile.jpg);
}
.corn {
  background-image: url(../img/corn_mobile.jpg);
}
.potato {
  background-image: url(../img/potato_mobile.jpg);
}
.carrot {
  background-image: url(../img/carrot_mobile.jpg);
}
.img-9 {
  width: 295px;
  height: 272px;
  background-image: url(../img/img9mobil.jpg);
  border-radius: 15px;
}
/* */
:root {
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: rgba(20, 20, 20, 0.2);
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Inter Tight", sans-serif;
  background-color: #576f35;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.4287;
  letter-spacing: 0;
}
.container {
  width: 375px;
  height: 100%;
}
.flex {
  display: flex;
}
.align-item {
  align-items: center;
}
.big-text {
  font-size: 48px;
  line-height: 1.0833;
}
.header {
  background: #576f35;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
  position: relative;
}
.padding-p {
  padding-top: 20px;
  padding-bottom: 40px;
}
.sec-pad {
  padding: 80px 20px;
}
img {
  display: block;
}
.same-tricks {
  font-weight: 600;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #576f35;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: none;
}
.is-open {
  display: flex;
}
.close-i {
  margin: 20px 20px 0 auto;
}
.pages {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 118px;
  gap: 24px;
}
.nav-link {
  border: 1px solid #fbfbfb;
  background-color: transparent;
  padding: 12px 0px;
  border-radius: 12px;
}
.shop-btn {
  margin-bottom: 52px;
  padding: 16px 41px;
  background-color: #7a3145;
  border-radius: 30px;
  border: none;
  font-size: 18px;
}
.nav-link:active,
.nav-link:hover {
  color: #7a3145;
  background-color: #fbfbfb;
}
.hero {
  padding: 24px 20px 0px;
}

.hero-section h1 {
  font-size: 52px;
  line-height: 1;
  color: var(--white);
}

.hero-section p {
  color: var(--white);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  background-position: cover;
}

.how_it_works_image {
  background-color: #7a3145;
  padding: 40px 20px;
}

.how_it_works_image img {
  border-radius: 30px;
}

.how_it_works_text {
  width: 100%;
  background-color: var(--green);
  flex-direction: column;
}
.how_it_works_text h2 {
  font-size: 28px;
  line-height: 1;
  color: var(--white);
}
.how_it_works .vegetable,
.easy-steps {
  color: var(--blush);
}
.how_it_works_text > p {
  color: var(--white);
}
.step-list {
  flex-direction: column;
  gap: 24px;
}
.step-item {
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
}

.ellipse {
  width: 52px;
  height: 52px;
  border: 5px solid #d4bfc4;
  border-radius: 100%;
  background-color: #7a3145;
  position: relative;
  flex-shrink: 0;
  margin-right: 24px;
}

.ellipse p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.015em;
}

.step-item:nth-child(2) {
  padding: 12px 0px 12px 24px;
}

.step-item {
  padding: 12px 0px 12px 24px;
}

.step-item {
  padding: 12px 0px 12px 24px;
}

.step-item > p {
  color: var(--grey);
  padding: 0 27px 0 0;
}

.step-list .step-item:nth-child(2) > p {
  padding: 6px 59px 6px 0px;
}

.the-vegetable,
.next-to-it,
.the-basket,
.fresh-vegetables {
  font-weight: 700;
  color: var(--black);
}
.your-order {
  background-color: #576f35;
}
.form-text {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.soc-networks {
  background-color: #7a3145;
  border-radius: 30px;
  margin-top: 20px;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}
.Ordering {
  text-align: start;
  color: #141414;
  font-size: 28px;
  line-height: 1;
  vertical-align: middle;
}
.buton {
  background-color: #7a3145;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  flex-direction: column;
  padding: 16px 129px;
  justify-items: center;
  font-size: 18px;
}
.box-menu-address {
  flex-direction: column;
}
.inp::placeholder {
  color: black;
}
.inp:focus {
  border-color: brown;
}
.inp:not(:placeholder-shown):invalid {
  border-color: red;
}
.inp:not(:placeholder-shown):valid {
  border-color: green;
}
.text-valid,
.text-invalid {
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}
.inp {
  border-radius: 30px;
  width: 279px;
  padding: 0px 16px;
  width: 295px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 30px;
  outline: none;
}
.text-valid {
  color: green;
}
.text-invalid {
  color: red;
}
.inp:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}
.inp:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}
.inputlar {
  flex-direction: column;
  gap: 16px;
  padding: 40px 0 20px 0;
}

.yorum {
  border-radius: 15px;
  height: 92px;
  border: 1px solid #858585;
  outline: none;
  padding: 16px;
  max-width: 295px;
}
.yorum::placeholder {
  color: #141414;
}
.renk-1 {
  color: #d4bfc4;
}
.renk-2 {
  color: #7a3145;
}
.renk-3 {
  color: #576f35;
}
.follow-us {
  padding: 20px 0px 0px 0px;
  color: #d4bfc4;
  font-weight: 700;
  margin-bottom: 16px;
}
.limon {
  border-radius: 15px;
}
.social-media {
  color: white;
  font-size: 18px;
  line-height: 1.111;
  list-style: none;
  gap: 8px;
  flex-wrap: wrap;
}

.vegetable-section {
  background-color: rgba(122, 49, 69, 1);
}
.vegetable-section .intro .veg-baslik {
  display: block;
  color: rgba(212, 191, 196, 1); /* Açık mor/pembe */
}
.veg-title-product {
  color: rgba(122, 49, 69, 1);
  font-size: 28px;
  line-height: 1;
}
.vegetable-section .product-card .price {
  color: rgba(20, 20, 20, 1);
  padding-top: 12px;
  padding-bottom: 12px;
}
.vegetable-section .product-card {
  background-color: white;
  border-radius: 40px;
  padding: 32px 24px;
  flex-direction: column;
}
.vegetable-section .product-image {
  width: 280px;
  height: 240px;
  margin: 0 auto;
}
.vegetable-section .products-grid {
  flex-direction: column;
  gap: 20px;
}
#rewiew {
  background-color: #fbfbfb;
}
.customer-reviews-section {
  background-color: white;
}
.reviews-header {
  background-color: white;
}
.reviews-header h2 {
  color: rgba(14, 14, 14, 14);
}
.reviews-header .h2baslik {
  color: #576f35;
}
.reviews-header p {
  color: rgba(14, 14, 14, 1);
}
.customerreviews li {
  list-style: none;
}
.customerreviews h3 {
  font-size: 18px;
  line-height: 1.111;
  color: rgba(14, 14, 14, 1);
  margin-top: 24px;
  margin-bottom: 8px;
}
.customerreviews p {
  color: #858585;
  text-align: center;
  margin: 0 7px;
}
.customer1,
.customer2,
.customer3 {
  flex: 1;
  display: none;
}
.customercard,
.customercard2,
.customercard3 {
  flex: 1;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  flex-direction: column;
  padding: 20px 16px;
}
.review-card {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #e0e0e0;
}
@media (max-width: 375px) {
  .customer1 {
    display: flex;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .customer1,
  .customer2 {
    display: flex;
  }

  .customerreviews {
    display: flex;
    gap: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews-header h2 {
    font-size: 64px;
    margin-left: 32px;
    margin-right: 153px;
  }
  .reviews-header p {
    font-size: 16px;
    margin-left: 32px;
    margin-right: 151px;
  }
}
@media (min-width: 769px) {
  .customer1,
  .customer2,
  .customer3 {
    flex: 1;
    display: flex;
  }

  .customerreviews {
    display: flex;
    gap: 24px;
    margin-top: 52px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .reviews-header p {
    font-size: 16px;
    margin-top: 24px;
    margin-left: 100px;
    margin-right: 627px;
  }
}
.advertisement {
  background-color: #fbfbfb;
}
.advertisement .white {
  color: #fbfbfb;
}
.advertisement-text {
  vertical-align: middle;
  color: #141414;
}
.advertisement-color {
  background: #576f35;
  border-radius: 12px;
}
.footer-page {
  background: #7a3145;
  padding: 40px 20px;
}
.footer-logo-text {
  margin-bottom: 20px;
}
.footer-logo-text + .text {
  max-width: 339px;
  margin-bottom: 40px;
}
.foot-info {
  flex-direction: column;
}
.footer-list {
  flex-direction: column;
  gap: 14px;
  list-style: none;
}
.footer-link a {
  font-size: 28px;
  color: #ffffff;
}
address ul {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
  flex-direction: column;
  gap: 14px;
}
.address-link {
  color: #ffffff;
  max-width: 180px;
}
.footer-box-policy {
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
}
.footer-policy-list {
  flex-direction: row;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.policy {
  color: #d4bfc4;
}
.logo {
  gap: 2px;
}

@media (min-width: 768px) {
  .logo-svg {
    width: 20px;
    height: 20px;
  }
  .text-svg {
    width: 186.67px;
    height: 16.67px;
  }
  .step-item:nth-child(2) {
    padding: 12px 24px 12px 15px;
  }
  .step-list .step-item:nth-child(2) > p {
    padding: 6px 45px 6px 0px;
  }
  .how_it_works_image {
    background-color: var(--chianti);
    padding: 100px 20px;
  }
  .padding-p {
    padding: 24px 0 52px 0;
  }
  .hero-img1 {
    background-image: url(../img/img1tab.jpg);
    width: 768px;
    height: 536px;
  }
  .hero-img2 {
    background-image: url(../img/img2tab.jpg);
    width: 640px;
    height: 640px;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  .product-img {
    width: 280px;
    height: 240px;
  }
  .eggplant {
    background-image: url(../img/eggplant_tablet.jpg);
  }
  .leek {
    background-image: url(../img/leek_tablet.jpg);
  }
  .mushroom {
    background-image: url(../img/mushroom_tablet.jpg);
  }
  .corn {
    background-image: url(../img/corn_tablet.jpg);
  }
  .potato {
    background-image: url(../img/potato_tablet.jpg);
  }
  .carrot {
    background-image: url(../img/carrot_tablet.jpg);
  }
  .img-9 {
    width: 536px;
    height: 316px;
    background-image: url(../img/img9tab.jpg);
    border-radius: 15px;
  }
  /* */
  .container {
    width: 768px;
  }
  body {
    font-size: 16px;
    line-height: 1.25;
  }
  .hero > h1 {
    font-size: 76px;
  }
  .big-text {
    font-size: 64px;
    line-height: 1;
  }
  .sec-pad {
    padding: 100px 32px;
  }
  .how-text {
    width: 440px;
    margin: 0 auto;
  }
  .step-item {
    padding: 12px 24px 12px 15px;
  }
  .step-item > p {
    padding: 0;
  }
  .products-grid {
    max-width: 704px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px; /* figmadaki boşluk */
    padding: 0;
  }
  .your-text {
    width: 640px;
  }
  .form-text {
    width: 640px;
    padding: 72px 100px;
    margin: 0 auto;
  }
  .soc-networks {
    width: 640px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 52px;
    align-items: start;
  }
  .inp {
    width: 440px;
    height: 52px;
  }
  .inputlar {
    padding-top: 52px;
    padding-bottom: 24px;
  }
  .yorum {
    max-width: 440px;
    height: 96px;
  }
  .buton {
    padding: 16px 191px;
    font-size: 18px;
    font-weight: 600;
  }
  .footer-logo-text {
    margin-bottom: 24px;
  }
  .foot-info {
    width: 265px;
  }
  .box-menu-address {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-page {
    padding: 32px 32px;
  }

  .footer-box-policy {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    gap: 24px;
  }
  .address ul {
    padding: 0;
    margin: 0;
    margin-top: 64px;
    list-style: none;
    flex-direction: column;
    gap: 24px;
  }
  .mid-text {
    font-size: 32px;
    line-height: 1;
  }
  .veg-title-product,
  .how-text > h2,
  .Ordering,
  .footer-list a {
    font-size: 32px;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}
